{% extends "auctions/layout.html" %}

{% block body %}


<h2>Active Listings</h2>


<div class="list-group">
  {% for listing in listings %}
    <a href="{% url 'listing' listing.id %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">{{ listing.title }}</h4>
        <small class="text-body-secondary">Last modified: {{ listing.modified }}</small>
      </div>
      {% if listing.image_url %}
      <img src = {{listing.image_url}} alt="Listing Image" width="300" height="200"></img>
      {% else %}
      <div> No Image provided</div>
      {% endif %}
      {% if listing.bids.exists %}
      <p class="mb-1"> <strong>Price: {{ listing.highest_bid.bid }}$ </strong> </p>
      {% else %}
      <p class="mb-1"> <strong>Starting Price: {{ listing.starting_bid }}$ </strong> </p>
      {% endif %}
      <p class="mb-1">{{ listing.description }}</p>
      <small class="text-body-secondary">Created: {{ listing.created }}</small>
    </a>
  {% empty %}
  <a href="{% url 'create_listing' %}" class="list-group-item list-group-item-action">No active listings at the moment. Create one!</a>
  {% endfor %}
</div>
{% endblock %}
