{% extends "auctions/layout.html" %}

{% block body %}


<h2>Active Listings</h2>


<ul>
  {% for listing in listings %}
  <li>
    <div><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></div>
    {% if listing.image_url %}
      <img src = {{listing.image_url}} alt="Listing Image" width="300" height="200"></img>
    {% else %}
    <div> No Image provided</div>
    {% endif %}
    {% if listing.bids.exists %}
      <div> Price: {{ listing.highest_bid.bid }}$</div>
    {% else %}
      <div> Starting Price: {{ listing.starting_bid }}$</div>
    {% endif %}
    
    <div> Last modified: {{ listing.modified }}</div>
    <div> Created: {{ listing.created }}</div>
  </li>
  {% empty %}
  <li>No active listings at the moment!</li>
  {% endfor %}
</ul>
{% endblock %}
