{% extends "auctions/layout.html" %}

{% block body %}

{% if listing.active == False %}
<div class="alert alert-secondary" role="alert">This listing has been closed.
    {% if listing.bids.exists %} {% if request.user == listing.highest_bid.user %} <strong>You</strong> are the winner!
    {% else %} The winner is: <strong>{{ listing.highest_bid.user }} </strong> {% endif %} {% else %} No bids were placed. {% endif %}</div>
{% endif %}
<h2>Listing: {{ listing.title }}</h2>


{% if user.is_authenticated and user != listing.user %}
<form method="post" action="{% url 'watchlist' %}">
    {% csrf_token %}
    <input type="hidden" name="listing" value="{{ listing.id }}"/> 
    <input {% if listing in user.watchlist.listings.all %} class="btn btn-outline-danger btn-sm mb-3" type="submit" value="Remove from watchlist" {% else %} class="btn btn-outline-success btn-sm mb-3" type="submit" value="Add to watchlist" {% endif %}>
</form>
{% endif %}



<div>
    {% if listing.image_url %}
    <img src = {{listing.image_url}} alt="Listing Image" width="300" height="200" class="mb-2"></img>
    {% else %}
    <div class="mb-2"> No Image provided</div>
    {% endif %}
    <div class="mb-2">{{ listing.description }}</div>
    {% if listing.bids.exists %}
        <div class="h5"> Price: {{ listing.highest_bid.bid }}$</div>
        <div>{{ listing.bids.count }} bid(s) so far.
            <span>The highest bid is currently held by:
                {% if request.user == listing.highest_bid.user %}
                    <strong>You</strong>
                {% else %}   
                    <strong>{{ listing.highest_bid.user }}</strong>
                {% endif %}
            </span>
        </div>
    {% else %}
      <div class="h5"> Starting Price: {{ listing.starting_bid }}$</div>
      <div>No bids for far.</div>
    {% endif %}
    
    <hr />
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="form_type" value="bid_form">
            <input class="form-control" type="number" min="1" name="bid"
            {% if not user.is_authenticated %} placeholder="Need to be logged in to place a bid." {% elif request.user == listing.user%} placeholder="You can't bid on your own listings."
            {% elif listing.active == False %} placeholder="This listing has been closed."{% else %} placeholder="Your bid." {% endif %}required
            {% if not user.is_authenticated or request.user == listing.user or listing.active == False%} disabled {% endif %}>
        </div>
        <input class="btn btn-primary" type="submit" value="Place bid"{% if not user.is_authenticated or request.user == listing.user or listing.active == False %} disabled {% endif %}>
    </form>
</div>

    <hr />
    <h3>Details</h3>
    <div> Listed by: 
        {% if request.user == listing.user %}
            <strong>You</strong>
        {% else %}   
            <strong>{{ listing.user }}</strong>
        {% endif %}
        </div>
    <div> {% if listing.category %} Category: <strong>{{ listing.category.name }}</strong> {% else %} No Category.{% endif %} </div>
    <div> Last modified: {{ listing.modified }}</div>
    <div class="mb-2"> Created: {{ listing.created }}</div>

    {% if request.user == listing.user %}
    <div class="d-flex justify-content-start">
        <form action="{% url 'edit_listing' listing.id %}" method="get">
            {% csrf_token %}
            <input class="btn btn-outline-warning mr-2" type="submit" value="Edit Listing">
        </form>

        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="close_listing_form">
            {% if listing.active == True %}<input class="btn btn-outline-danger" type="submit" value="Close Listing">
            {% else %}<input class="btn btn-outline-success" type="submit" value="Reopen Listing">{% endif %}
        </form>
    </div>
    {% endif %}

    <hr />
    <h3>Comments</h3>
    <div class="list-group mb-2">
        {% for comment in comments %}
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{ comment.user }}</h5>
                <small> {{ comment.created }} </small>
            </div>
            <p class="mb-1"> {{ comment.comment }}</p>
        </div>
        {% empty %}
        <div class="list-group-item">No comments yet.</div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'comment' %}">
        {% csrf_token %}
        <input type="hidden" name="listing" value="{{ listing.id }}"/>
        <div class="form-group">
            <textarea class="form-control" name="comment" {% if listing.active == True %} placeholder="Your Comment." {% else %} placeholder="Can't comment on closed listings." disabled {% endif %}rows="2" required></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Comment" {% if listing.active == False %} disabled {% endif %}>
    </form>
    {% endif %}

    <hr />
    <a class="btn btn-outline-primary" href="{% url 'index' %}" role="back_button">Back</a>
    
</div>
{% endblock %}


