{% extends "auctions/layout.html" %}

{% block body %}

{% if listing.active == False %}
<div class="alert alert-secondary" role="alert">This listing has been closed.
    {% if listing.bids.all %} {% if request.user == listing.highest_bid.user %} You are the winner!
    {% else %} The winner is: {{ listing.highest_bid.user }} {% endif %} {% else %} No bids were placed. {% endif %}</div>
{% endif %}
<h2>Listing: {{ listing.title }}</h2>


{% if user.is_authenticated and user != listing.user %}
<form method="post" action="{% url 'watchlist' %}">
    {% csrf_token %}
    <input type="hidden" name="listing" value="{{ listing.id }}"/> 
    <input {% if listing in user.watchlist.listings.all %} class="btn btn-outline-danger" type="submit" value="Remove from watchlist" {% else %} class="btn btn-outline-success" type="submit" value="Add to watchlist" {% endif %}>
</form>
{% endif %}



<div>
    {% if listing.image_url %}
    <img src = {{listing.image_url}} alt="Listing Image" width="300" height="200"></img>
    {% else %}
    <div> No Image provided</div>
    {% endif %}
    <div>{{ listing.description }}</div>
    {% if listing.bids.all %}
        <div> Price: {{ listing.highest_bid.bid }}$</div>
        <div>{{ listing.bids.count }} bid(s) so far.
            <span>The highest bid is currently held by:
                {% if request.user == listing.highest_bid.user %}
                    You
                {% else %}   
                {{ listing.highest_bid.user }}
                {% endif %}
            </span>
        </div>
    {% else %}
      <div> Starting Price: {{ listing.starting_bid }}$</div>
      <div>No bids for far.</div>
    {% endif %}
    
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="form_type" value="bid_form">
            <input class="form-control" type="number" min="1" name="bid"
            {% if not user.is_authenticated %} placeholder="Need to be logged in to place a bid." {% elif request.user == listing.user%} placeholder="You can't bid on your own listings."
            {% elif listing.active == False %} placeholder="This listing has been closed."{% else %} placeholder="Your bid." {% endif %}required
            {% if not user.is_authenticated or request.user == listing.user or listing.active == False%} disabled {% endif %}>
        </div>
        <input class="btn btn-primary" type="submit" value="Place bid"{% if not user.is_authenticated or request.user == listing.user or listing.active == False %} disabled {% endif %}>
    </form>
</div>

<div> 
    <h3>Details</h3>
    <div> Listed by: 
        {% if request.user == listing.user %}
        You
        {% else %}   
        {{ listing.user }}
        {% endif %}
        </div>
    <div> Last modified: {{ listing.modified }}</div>
    <div> Created: {{ listing.created }}</div>

    {% if request.user == listing.user %}
    
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <a class="btn btn-outline-warning" href="#" role="edit_button">Edit Listing</a>
        <input type="hidden" name="form_type" value="close_listing_form">
        {% if listing.active == True %}<input class="btn btn-outline-danger" type="submit" value="Close Listing">
        {% else %}<input class="btn btn-outline-success" type="submit" value="Reopen Listing">{% endif %}
    </form>
    {% endif %}

    <h3>Comments</h3>

    <a class="btn btn-outline-primary" href="{% url 'index' %}" role="back_button">Back</a>
    
</div>
{% endblock %}


